# Join our Results

### 1. Loading Libraries

In [21]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

### 2. Loading Files

In [2]:
sarima = pd.read_csv('../data/CSV/SarimaForecast_allDistricts_Tableau.csv',index_col=0)
prophet = pd.read_csv('../data/CSV/ProphetForecast_allDistricts_Tableau.csv',index_col=0)
rmse_sarima = pd.read_csv('../data/CSV/rmse_sarima.csv')
rmse_prophet = pd.read_csv('../data/CSV/rmse_prophet.csv')
# keras
# keras rmse

In [3]:
sarima.head()

             values district         type   model  DISTRICT_
2006-01-31  19359.0     city  Time Series  sarima          0
2006-02-28  15894.0     city  Time Series  sarima          0
2006-03-31  18627.0     city  Time Series  sarima          0
2006-04-30  18940.0     city  Time Series  sarima          0
2006-05-31  20041.0     city  Time Series  sarima          0

In [4]:
prophet.head()

             values district         type    model  DISTRICT_
ds
2006-01-31  19359.0     city  Time Series  prophet          0
2006-02-28  15894.0     city  Time Series  prophet          0
2006-03-31  18627.0     city  Time Series  prophet          0
2006-04-30  18940.0     city  Time Series  prophet          0
2006-05-31  20041.0     city  Time Series  prophet          0

In [5]:
rmse_sarima.head()

         rmse      testMean district   model  DISTRICT_
0  374.879282  13552.916667     city  sarima          0
1   33.849280    216.750000   dist_1  sarima          1
2   65.095571    582.083333   dist_2  sarima          2
3   46.700909    729.083333  dist_18  sarima         18
4    6.987550     54.250000  dist_77  sarima         77

In [6]:
rmse_prophet.head()

         rmse      testMean district    model  DISTRICT_
0  482.438110  13552.916667     city  prophet          0
1   22.213596    216.750000   dist_1  prophet          1
2   58.927466    582.083333   dist_2  prophet          2
3   49.062053    729.083333  dist_18  prophet         18
4    8.538541     54.250000  dist_77  prophet         77

### 3. Append DataFrames

In [7]:
models = sarima.append(prophet)

In [8]:
models.head()

             values district         type   model  DISTRICT_
2006-01-31  19359.0     city  Time Series  sarima          0
2006-02-28  15894.0     city  Time Series  sarima          0
2006-03-31  18627.0     city  Time Series  sarima          0
2006-04-30  18940.0     city  Time Series  sarima          0
2006-05-31  20041.0     city  Time Series  sarima          0

In [9]:
rmse = rmse_sarima.append(rmse_prophet)

In [10]:
rmse.head()

         rmse      testMean district   model  DISTRICT_
0  374.879282  13552.916667     city  sarima          0
1   33.849280    216.750000   dist_1  sarima          1
2   65.095571    582.083333   dist_2  sarima          2
3   46.700909    729.083333  dist_18  sarima         18
4    6.987550     54.250000  dist_77  sarima         77

In [12]:
models_dis = models[models['DISTRICT_']!=0]

In [13]:
rmse_dis = rmse[rmse['DISTRICT_']!=0]

### 4. Save File

In [14]:
models.to_csv('../data/CSV/models_allDistricts_Tableau.csv')
rmse.to_csv('../data/CSV/rmse_models.csv',index=False)
models_dis.to_csv('../data/CSV/models_allDistricts_wo_0_Tableau.csv')
rmse_dis.to_csv('../data/CSV/rmse_models_wo_0.csv',index=False)

In [22]:
models[(models['DISTRICT_']==0)]

                  values district         type    model  DISTRICT_
2006-01-31  19359.000000     city  Time Series   sarima          0
2006-02-28  15894.000000     city  Time Series   sarima          0
2006-03-31  18627.000000     city  Time Series   sarima          0
2006-04-30  18940.000000     city  Time Series   sarima          0
2006-05-31  20041.000000     city  Time Series   sarima          0
2006-06-30  20366.000000     city  Time Series   sarima          0
2006-07-31  21159.000000     city  Time Series   sarima          0
2006-08-31  21952.000000     city  Time Series   sarima          0
2006-09-30  19644.000000     city  Time Series   sarima          0
2006-10-31  20719.000000     city  Time Series   sarima          0
2006-11-30  19272.000000     city  Time Series   sarima          0
2006-12-31  18782.000000     city  Time Series   sarima          0
2007-01-31  18235.000000     city  Time Series   sarima          0
2007-02-28  14472.000000     city  Time Series   sarima          0
2007-03-31  18666.000000     city  Time Series   sarima          0
2007-04-30  19077.000000     city  Time Series   sarima          0
2007-05-31  20385.000000     city  Time Series   sarima          0
2007-06-30  19143.000000     city  Time Series   sarima          0
2007-07-31  20313.000000     city  Time Series   sarima          0
2007-08-31  20239.000000     city  Time Series   sarima          0
2007-09-30  19046.000000     city  Time Series   sarima          0
2007-10-31  19303.000000     city  Time Series   sarima          0
2007-11-30  17392.000000     city  Time Series   sarima          0
2007-12-31  17631.000000     city  Time Series   sarima          0
2008-01-31  17999.000000     city  Time Series   sarima          0
2008-02-29  16424.000000     city  Time Series   sarima          0
2008-03-31  19262.000000     city  Time Series   sarima          0
2008-04-30  19582.000000     city  Time Series   sarima          0
2008-05-31  18786.000000     city  Time Series   sarima          0
2008-06-30  20131.000000     city  Time Series   sarima          0
2008-07-31  20723.000000     city  Time Series   sarima          0
2008-08-31  20975.000000     city  Time Series   sarima          0
2008-09-30  18139.000000     city  Time Series   sarima          0
2008-10-31  18351.000000     city  Time Series   sarima          0
2008-11-30  16547.000000     city  Time Series   sarima          0
2008-12-31  16816.000000     city  Time Series   sarima          0
2009-01-31  15665.000000     city  Time Series   sarima          0
2009-02-28  14473.000000     city  Time Series   sarima          0
2009-03-31  17470.000000     city  Time Series   sarima          0
2009-04-30  17867.000000     city  Time Series   sarima          0
2009-05-31  18484.000000     city  Time Series   sarima          0
2009-06-30  18394.000000     city  Time Series   sarima          0
2009-07-31  18837.000000     city  Time Series   sarima          0
2009-08-31  18976.000000     city  Time Series   sarima          0
2009-09-30  17025.000000     city  Time Series   sarima          0
2009-10-31  17058.000000     city  Time Series   sarima          0
2009-11-30  16053.000000     city  Time Series   sarima          0
2009-12-31  14742.000000     city  Time Series   sarima          0
2010-01-31  15404.000000     city  Time Series   sarima          0
2010-02-28  12082.000000     city  Time Series   sarima          0
2010-03-31  16553.000000     city  Time Series   sarima          0
2010-04-30  16962.000000     city  Time Series   sarima          0
2010-05-31  18354.000000     city  Time Series   sarima          0
2010-06-30  18109.000000     city  Time Series   sarima          0
2010-07-31  18716.000000     city  Time Series   sarima          0
2010-08-31  19193.000000     city  Time Series   sarima          0
2010-09-30  16946.000000     city  Time Series   sarima          0
2010-10-31  17107.000000     city  Time Series   sarima          0
2010-11-30  16095.000000     city  Time Series   sarima          0
2010-12-31  13894.000000     city  Time Series   sarima          0
2011-01-31  13724.000000     city  Time Series   sarima          0
2011-02-28  13820.000000     city  Time Series   sarima          0
2011-03-31  16694.000000     city  Time Series   sarima          0
2011-04-30  16914.000000     city  Time Series   sarima          0
2011-05-31  17427.000000     city  Time Series   sarima          0
2011-06-30  17900.000000     city  Time Series   sarima          0
2011-07-31  17929.000000     city  Time Series   sarima          0
2011-08-31  17913.000000     city  Time Series   sarima          0
2011-09-30  17004.000000     city  Time Series   sarima          0
2011-10-31  16053.000000     city  Time Series   sarima          0
2011-11-30  15333.000000     city  Time Series   sarima          0
2011-12-31  14810.000000     city  Time Series   sarima          0
2012-01-31  15370.000000     city  Time Series   sarima          0
2012-02-29  15092.000000     city  Time Series   sarima          0
2012-03-31  16637.000000     city  Time Series   sarima          0
2012-04-30  16659.000000     city  Time Series   sarima          0
2012-05-31  17797.000000     city  Time Series   sarima          0
2012-06-30  17549.000000     city  Time Series   sarima          0
2012-07-31  17513.000000     city  Time Series   sarima          0
2012-08-31  17684.000000     city  Time Series   sarima          0
2012-09-30  16843.000000     city  Time Series   sarima          0
2012-10-31  16699.000000     city  Time Series   sarima          0
2012-11-30  14528.000000     city  Time Series   sarima          0
2012-12-31  14384.000000     city  Time Series   sarima          0
2013-01-31  14327.000000     city  Time Series   sarima          0
2013-02-28  12834.000000     city  Time Series   sarima          0
2013-03-31  15235.000000     city  Time Series   sarima          0
2013-04-30  15582.000000     city  Time Series   sarima          0
2013-05-31  16951.000000     city  Time Series   sarima          0
2013-06-30  16755.000000     city  Time Series   sarima          0
2013-07-31  17178.000000     city  Time Series   sarima          0
2013-08-31  17487.000000     city  Time Series   sarima          0
2013-09-30  15977.000000     city  Time Series   sarima          0
2013-10-31  16589.000000     city  Time Series   sarima          0
2013-11-30  14481.000000     city  Time Series   sarima          0
2013-12-31  13093.000000     city  Time Series   sarima          0
2014-01-31  12316.000000     city  Time Series   sarima          0
2014-02-28  11252.000000     city  Time Series   sarima          0
2014-03-31  14146.000000     city  Time Series   sarima          0
2014-04-30  15832.000000     city  Time Series   sarima          0
2014-05-31  17385.000000     city  Time Series   sarima          0
2014-06-30  16819.000000     city  Time Series   sarima          0
2014-07-31  18012.000000     city  Time Series   sarima          0
2014-08-31  16813.000000     city  Time Series   sarima          0
2014-09-30  16819.000000     city  Time Series   sarima          0
2014-10-31  17664.000000     city  Time Series   sarima          0
2014-11-30  14880.000000     city  Time Series   sarima          0
2014-12-31  14208.000000     city  Time Series   sarima          0
2015-01-31  13634.000000     city  Time Series   sarima          0
2015-02-28  12266.000000     city  Time Series   sarima          0
2015-03-31  14367.000000     city  Time Series   sarima          0
2015-04-30  16766.000000     city  Time Series   sarima          0
2015-05-31  17067.000000     city  Time Series   sarima          0
2015-06-30  16429.000000     city  Time Series   sarima          0
2015-07-31  17227.000000     city  Time Series   sarima          0
2015-08-31  17388.000000     city  Time Series   sarima          0
2015-09-30  15358.000000     city  Time Series   sarima          0
2015-10-31  15188.000000     city  Time Series   sarima          0
2015-11-30  13875.000000     city  Time Series   sarima          0
2015-12-31  13735.000000     city  Time Series   sarima          0
2016-01-31  12042.000000     city  Time Series   sarima          0
2016-02-29  12224.000000     city  Time Series   sarima          0
2016-03-31  13931.000000     city  Time Series   sarima          0
2016-04-30  14170.000000     city  Time Series   sarima          0
2016-05-31  15367.000000     city  Time Series   sarima          0
2016-06-30  15331.000000     city  Time Series   sarima          0
2016-07-31  14174.000000     city  Time Series   sarima          0
2016-08-31  15789.000000     city  Time Series   sarima          0
2016-09-30  14482.000000     city  Time Series   sarima          0
2016-10-31  15311.000000     city  Time Series   sarima          0
2016-11-30  13497.000000     city  Time Series   sarima          0
2016-12-31  12783.000000     city  Time Series   sarima          0
2017-01-31  12970.000000     city  Time Series   sarima          0
2017-02-28  11830.000000     city  Time Series   sarima          0
2017-03-31  12983.000000     city  Time Series   sarima          0
2017-04-30  13953.000000     city  Time Series   sarima          0
2017-05-31  15066.000000     city  Time Series   sarima          0
2017-06-30  15269.000000     city  Time Series   sarima          0
2017-07-31  15382.000000     city  Time Series   sarima          0
2017-08-31  15202.000000     city  Time Series   sarima          0
2017-09-30  14702.000000     city  Time Series   sarima          0
2017-10-31  14740.000000     city  Time Series   sarima          0
2017-11-30  13083.000000     city  Time Series   sarima          0
2017-12-31  12141.000000     city  Time Series   sarima          0
2018-01-31  12400.000000     city  Time Series   sarima          0
2018-02-28  11676.000000     city  Time Series   sarima          0
2018-03-31  12001.000000     city  Time Series   sarima          0
2018-04-30  13940.000000     city  Time Series   sarima          0
2018-05-31  14724.000000     city  Time Series   sarima          0
2018-06-30  14585.000000     city  Time Series   sarima          0
2018-07-31  14732.000000     city  Time Series   sarima          0
2018-08-31  14758.000000     city  Time Series   sarima          0
2018-09-30  14007.000000     city  Time Series   sarima          0
2018-10-31  14320.000000     city  Time Series   sarima          0
2018-11-30  12260.000000     city  Time Series   sarima          0
2018-12-31  12706.000000     city  Time Series   sarima          0
2019-01-31  12649.000000     city  Time Series   sarima          0
2019-02-28  11374.000000     city  Time Series   sarima          0
2019-03-31  12717.000000     city  Time Series   sarima          0
2019-04-30  13803.000000     city  Time Series   sarima          0
2019-05-31  14478.400235     city     Forecast   sarima          0
2019-06-30  14406.411228     city     Forecast   sarima          0
2019-07-31  14493.136593     city     Forecast   sarima          0
2019-08-31  14638.479436     city     Forecast   sarima          0
2019-09-30  13883.894839     city     Forecast   sarima          0
2019-10-31  14094.680700     city     Forecast   sarima          0
2019-11-30  12722.173935     city     Forecast   sarima          0
2019-12-31  12367.143955     city     Forecast   sarima          0
2020-01-31  12246.319172     city     Forecast   sarima          0
2020-02-29  11519.686441     city     Forecast   sarima          0
2020-03-31  12602.598471     city     Forecast   sarima          0
2020-04-30  13508.698266     city     Forecast   sarima          0
2020-05-31  14180.583706     city     Forecast   sarima          0
2006-01-31  19359.000000     city  Time Series  prophet          0
2006-02-28  15894.000000     city  Time Series  prophet          0
2006-03-31  18627.000000     city  Time Series  prophet          0
2006-04-30  18940.000000     city  Time Series  prophet          0
2006-05-31  20041.000000     city  Time Series  prophet          0
2006-06-30  20366.000000     city  Time Series  prophet          0
2006-07-31  21159.000000     city  Time Series  prophet          0
2006-08-31  21952.000000     city  Time Series  prophet          0
2006-09-30  19644.000000     city  Time Series  prophet          0
2006-10-31  20719.000000     city  Time Series  prophet          0
2006-11-30  19272.000000     city  Time Series  prophet          0
2006-12-31  18782.000000     city  Time Series  prophet          0
2007-01-31  18235.000000     city  Time Series  prophet          0
2007-02-28  14472.000000     city  Time Series  prophet          0
2007-03-31  18666.000000     city  Time Series  prophet          0
2007-04-30  19077.000000     city  Time Series  prophet          0
2007-05-31  20385.000000     city  Time Series  prophet          0
2007-06-30  19143.000000     city  Time Series  prophet          0
2007-07-31  20313.000000     city  Time Series  prophet          0
2007-08-31  20239.000000     city  Time Series  prophet          0
2007-09-30  19046.000000     city  Time Series  prophet          0
2007-10-31  19303.000000     city  Time Series  prophet          0
2007-11-30  17392.000000     city  Time Series  prophet          0
2007-12-31  17631.000000     city  Time Series  prophet          0
2008-01-31  17999.000000     city  Time Series  prophet          0
2008-02-29  16424.000000     city  Time Series  prophet          0
2008-03-31  19262.000000     city  Time Series  prophet          0
2008-04-30  19582.000000     city  Time Series  prophet          0
2008-05-31  18786.000000     city  Time Series  prophet          0
2008-06-30  20131.000000     city  Time Series  prophet          0
2008-07-31  20723.000000     city  Time Series  prophet          0
2008-08-31  20975.000000     city  Time Series  prophet          0
2008-09-30  18139.000000     city  Time Series  prophet          0
2008-10-31  18351.000000     city  Time Series  prophet          0
2008-11-30  16547.000000     city  Time Series  prophet          0
2008-12-31  16816.000000     city  Time Series  prophet          0
2009-01-31  15665.000000     city  Time Series  prophet          0
2009-02-28  14473.000000     city  Time Series  prophet          0
2009-03-31  17470.000000     city  Time Series  prophet          0
2009-04-30  17867.000000     city  Time Series  prophet          0
2009-05-31  18484.000000     city  Time Series  prophet          0
2009-06-30  18394.000000     city  Time Series  prophet          0
2009-07-31  18837.000000     city  Time Series  prophet          0
2009-08-31  18976.000000     city  Time Series  prophet          0
2009-09-30  17025.000000     city  Time Series  prophet          0
2009-10-31  17058.000000     city  Time Series  prophet          0
2009-11-30  16053.000000     city  Time Series  prophet          0
2009-12-31  14742.000000     city  Time Series  prophet          0
2010-01-31  15404.000000     city  Time Series  prophet          0
2010-02-28  12082.000000     city  Time Series  prophet          0
2010-03-31  16553.000000     city  Time Series  prophet          0
2010-04-30  16962.000000     city  Time Series  prophet          0
2010-05-31  18354.000000     city  Time Series  prophet          0
2010-06-30  18109.000000     city  Time Series  prophet          0
2010-07-31  18716.000000     city  Time Series  prophet          0
2010-08-31  19193.000000     city  Time Series  prophet          0
2010-09-30  16946.000000     city  Time Series  prophet          0
2010-10-31  17107.000000     city  Time Series  prophet          0
2010-11-30  16095.000000     city  Time Series  prophet          0
2010-12-31  13894.000000     city  Time Series  prophet          0
2011-01-31  13724.000000     city  Time Series  prophet          0
2011-02-28  13820.000000     city  Time Series  prophet          0
2011-03-31  16694.000000     city  Time Series  prophet          0
2011-04-30  16914.000000     city  Time Series  prophet          0
2011-05-31  17427.000000     city  Time Series  prophet          0
2011-06-30  17900.000000     city  Time Series  prophet          0
2011-07-31  17929.000000     city  Time Series  prophet          0
2011-08-31  17913.000000     city  Time Series  prophet          0
2011-09-30  17004.000000     city  Time Series  prophet          0
2011-10-31  16053.000000     city  Time Series  prophet          0
2011-11-30  15333.000000     city  Time Series  prophet          0
2011-12-31  14810.000000     city  Time Series  prophet          0
2012-01-31  15370.000000     city  Time Series  prophet          0
2012-02-29  15092.000000     city  Time Series  prophet          0
2012-03-31  16637.000000     city  Time Series  prophet          0
2012-04-30  16659.000000     city  Time Series  prophet          0
2012-05-31  17797.000000     city  Time Series  prophet          0
2012-06-30  17549.000000     city  Time Series  prophet          0
2012-07-31  17513.000000     city  Time Series  prophet          0
2012-08-31  17684.000000     city  Time Series  prophet          0
2012-09-30  16843.000000     city  Time Series  prophet          0
2012-10-31  16699.000000     city  Time Series  prophet          0
2012-11-30  14528.000000     city  Time Series  prophet          0
2012-12-31  14384.000000     city  Time Series  prophet          0
2013-01-31  14327.000000     city  Time Series  prophet          0
2013-02-28  12834.000000     city  Time Series  prophet          0
2013-03-31  15235.000000     city  Time Series  prophet          0
2013-04-30  15582.000000     city  Time Series  prophet          0
2013-05-31  16951.000000     city  Time Series  prophet          0
2013-06-30  16755.000000     city  Time Series  prophet          0
2013-07-31  17178.000000     city  Time Series  prophet          0
2013-08-31  17487.000000     city  Time Series  prophet          0
2013-09-30  15977.000000     city  Time Series  prophet          0
2013-10-31  16589.000000     city  Time Series  prophet          0
2013-11-30  14481.000000     city  Time Series  prophet          0
2013-12-31  13093.000000     city  Time Series  prophet          0
2014-01-31  12316.000000     city  Time Series  prophet          0
2014-02-28  11252.000000     city  Time Series  prophet          0
2014-03-31  14146.000000     city  Time Series  prophet          0
2014-04-30  15832.000000     city  Time Series  prophet          0
2014-05-31  17385.000000     city  Time Series  prophet          0
2014-06-30  16819.000000     city  Time Series  prophet          0
2014-07-31  18012.000000     city  Time Series  prophet          0
2014-08-31  16813.000000     city  Time Series  prophet          0
2014-09-30  16819.000000     city  Time Series  prophet          0
2014-10-31  17664.000000     city  Time Series  prophet          0
2014-11-30  14880.000000     city  Time Series  prophet          0
2014-12-31  14208.000000     city  Time Series  prophet          0
2015-01-31  13634.000000     city  Time Series  prophet          0
2015-02-28  12266.000000     city  Time Series  prophet          0
2015-03-31  14367.000000     city  Time Series  prophet          0
2015-04-30  16766.000000     city  Time Series  prophet          0
2015-05-31  17067.000000     city  Time Series  prophet          0
2015-06-30  16429.000000     city  Time Series  prophet          0
2015-07-31  17227.000000     city  Time Series  prophet          0
2015-08-31  17388.000000     city  Time Series  prophet          0
2015-09-30  15358.000000     city  Time Series  prophet          0
2015-10-31  15188.000000     city  Time Series  prophet          0
2015-11-30  13875.000000     city  Time Series  prophet          0
2015-12-31  13735.000000     city  Time Series  prophet          0
2016-01-31  12042.000000     city  Time Series  prophet          0
2016-02-29  12224.000000     city  Time Series  prophet          0
2016-03-31  13931.000000     city  Time Series  prophet          0
2016-04-30  14170.000000     city  Time Series  prophet          0